<div class="row-fluid">
  <div class="span3 parent-wrapper">
    <h5 class="parent-author"></h5>
    <div class="parent-contents"></div>
    <div class="parent-timestamp"></div>
  </div>
  <div class="span6 post-wrapper">
    <h5 class="post-author"></h5>
    <div class="post-contents"></div>
    <div class="post-timestamp"></div>
  </div>
  <div class="span3 child-wrapper">
    <h5 class="child-author"></h5>
    <div class="child-contents"></div>
    <div class="child-timestamp"></div>
  </div>
</div>
